.menu, #login {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu ul {
    list-style: none;
    background-color: #444;
}


.menu li {
    float: left;
}

li a, .user {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.align-right {
    float: right;
}

li#action {
    text-align: right!important;
}

li a:hover, li.user a:hover:hover a#login:hover{
    background-color: #111;
}

form, .container {
    max-width: 700px;
    margin: 20px auto;
    padding: 40px 40px;
    background: #e4e4e4;
    border-radius: 8px;
    display: inline;
    float: left;
}

.container {
    text-align:center;
    display: inline-block;
}

#createimage {
    text-align: center;
}


