<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
    <div id="header">
        <ul class="menu">
            <li class="logo"><a href= "#">Collage</a></li>
            {% if request.user.is_authenticated %}

            <li {% if section == 'dashboard' %} class="selected"{% endif %}>
                <a href="{% url "dashboard" %}">My dashboard</a>
            </li>
            <li {% if section == "images" %}class="selected"{% endif %}>
                <a href="{% url "images:list" %}">Images</a>
            </li>
            <li {% if section == "people" %}class="selected"{% endif %}>
                <a href="{% url "user_list" %}">People</a>
            </li>


        {% endif %}
            <div class="align-right">
                <li class="user">
                    {% if request.user.is_authenticated %}
                        Hello, {{ request.user.first_name }} <a href="{% url "logout" %}" style="display: inline">Logout</a>
                    {% else %}
                        <a href="{% url "login" %}" id="login">Login</a>
                    {% endif %}
                </li>
                <li class="user">
                    {% if not request.user.is_authenticated %}
                        <a href="{% url "signup" %}" id="signup">Signup</a>
                    {% endif %}
                </li>
            </div>

        </ul>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message | safe }}
                    <a href="#" class="close">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
      var csrftoken = Cookies.get('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
      $(document).ready(function(){
        {% block domready %}
        {% endblock %}
      });
    </script>
</body>
</html>